In [1]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True)

In [2]:
# Confirm folder was created and files added successfully
os.listdir("Data/")

['.ipynb_checkpoints',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'movies-ERD.png',
 'movies.mwb.bak',
 'movies.sql',
 'title-akas-us-only.csv',
 'title.basics.tsv.gz',
 'title.ratings.tsv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json']

In [3]:
import pandas as pd

In [4]:
akas = pd.read_csv('Data/title-akas-us-only.csv', low_memory=False)

In [5]:
basics = pd.read_csv('Data/title.basics.tsv.gz', sep='\t', low_memory=False)

In [6]:
ratings = pd.read_csv('Data/title.ratings.tsv.gz', sep='\t', low_memory=False)

In [7]:
# Filter the basics table down to only include the US by using the filter akas dataframe
filter_us_titles = basics['tconst'].isin(akas['titleId'])
basics = basics[filter_us_titles]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10016872,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,\N,58,Family
10016901,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,\N,\N,Drama
10016939,tt9916702,short,Loving London: The Playground,Loving London: The Playground,0,\N,\N,\N,"Drama,Short"
10016962,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short
10016966,tt9916764,short,38,38,0,2018,\N,\N,Short

In [8]:
import numpy as np

In [9]:
basics = basics.replace({'\\N':np.nan})

In [10]:
basics = basics.dropna(subset=['runtimeMinutes','genres'])

In [11]:
basics = basics[basics['titleType']=='movie']

In [12]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
...,...,...,...,...,...,...,...,...,...
10016366,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019,NaN,70,Documentary
10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
10016777,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [13]:
basics['startYear']=basics['startYear'].astype(float)

In [14]:
startYearType = basics['startYear'].dtype
startYearType

dtype('float64')

In [15]:
basics = basics[(basics['startYear']>=2000)&(basics['startYear']<=2022)]

In [16]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
10016366,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019.0,NaN,70,Documentary
10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [17]:
filter_documentaries = basics['genres'].str.contains('Documentary')

In [18]:
# Exclude movies in the documentary category.
basics= basics[~filter_documentaries]

In [19]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86979 entries, 34802 to 10016777
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86979 non-null  object
 3   originalTitle   86979 non-null  object
 4   isAdult         86979 non-null  object
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86979 non-null  object
 8   genres          86979 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.6+ MB

In [20]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [21]:
ratings = ratings.replace({'\\N':np.nan})

In [22]:
ratings_filtered = ratings[ratings['tconst'].isin(basics['tconst'])]

In [23]:
ratings = ratings_filtered
ratings

            tconst  averageRating  numVotes
17961    tt0035423            6.4     87153
40764    tt0062336            6.4       175
46645    tt0069049            6.7      7754
63640    tt0088751            5.2       336
69953    tt0096056            5.6       846
...            ...            ...       ...
1331411  tt9914942            6.6       178
1331437  tt9915872            6.4         9
1331450  tt9916170            7.0         7
1331451  tt9916190            3.7       243
1331462  tt9916362            6.4      5422

[71900 rows x 3 columns]

In [24]:
from sqlalchemy.engine import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
import pandas as pd
from tqdm.notebook import tqdm_notebook

In [25]:
username = "root"
password = "root"
# password = quote_plus("Myp@ssword!") # Use the quote function if you have special chars in password
db_name = "movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [26]:
import json
with open('/Users/User/Documents/GitHub/IMDB_CORE/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [27]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [28]:
basics.to_sql("title_basics",conn,index=False, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0035423' for key 'title_basics.PRIMARY'")
[SQL: INSERT INTO title_basics (tconst, `titleType`, `primaryTitle`, `originalTitle`, `isAdult`, `startYear`, `endYear`, `runtimeMinutes`, genres) VALUES (%(tconst)s, %(titleType)s, %(primaryTitle)s, %(originalTitle)s, %(isAdult)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres)s)]
[parameters: ({'tconst': 'tt0035423', 'titleType': 'movie', 'primaryTitle': 'Kate & Leopold', 'originalTitle': 'Kate & Leopold', 'isAdult': '0', 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': '118', 'genres': 'Comedy,Fantasy,Romance'}, {'tconst': 'tt0062336', 'titleType': 'movie', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'originalTitle': 'El tango del viudo y su espejo deformante', 'isAdult': '0', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': '70', 'genres': 'Drama'}, {'tconst': 'tt0069049', 'titleType': 'movie', 'primaryTitle': 'The Other Side of the Wind', 'originalTitle': 'The Other Side of the Wind', 'isAdult': '0', 'startYear': 2018.0, 'endYear': None, 'runtimeMinutes': '122', 'genres': 'Drama'}, {'tconst': 'tt0088751', 'titleType': 'movie', 'primaryTitle': 'The Naked Monster', 'originalTitle': 'The Naked Monster', 'isAdult': '0', 'startYear': 2005.0, 'endYear': None, 'runtimeMinutes': '100', 'genres': 'Comedy,Horror,Sci-Fi'}, {'tconst': 'tt0096056', 'titleType': 'movie', 'primaryTitle': 'Crime and Punishment', 'originalTitle': 'Crime and Punishment', 'isAdult': '0', 'startYear': 2002.0, 'endYear': None, 'runtimeMinutes': '126', 'genres': 'Drama'}, {'tconst': 'tt0100275', 'titleType': 'movie', 'primaryTitle': 'The Wandering Soap Opera', 'originalTitle': 'La Telenovela Errante', 'isAdult': '0', 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': '80', 'genres': 'Comedy,Drama,Fantasy'}, {'tconst': 'tt0103340', 'titleType': 'movie', 'primaryTitle': 'Life for Life: Maximilian Kolbe', 'originalTitle': 'Zycie za zycie. Maksymilian Kolbe', 'isAdult': '0', 'startYear': 2006.0, 'endYear': None, 'runtimeMinutes': '90', 'genres': 'Biography,Drama'}, {'tconst': 'tt0108549', 'titleType': 'movie', 'primaryTitle': 'West from North Goes South', 'originalTitle': 'West from North Goes South', 'isAdult': '0', 'startYear': 2004.0, 'endYear': None, 'runtimeMinutes': '96', 'genres': 'Comedy,Mystery'}  ... displaying 10 of 86979 total bound parameter sets ...  {'tconst': 'tt9916190', 'titleType': 'movie', 'primaryTitle': 'Safeguard', 'originalTitle': 'Safeguard', 'isAdult': '0', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': '95', 'genres': 'Action,Adventure,Thriller'}, {'tconst': 'tt9916362', 'titleType': 'movie', 'primaryTitle': 'Coven', 'originalTitle': 'Akelarre', 'isAdult': '0', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': '92', 'genres': 'Drama,History'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [29]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)

# Show the list of files included in the folder
sorted(os.listdir(FOLDER))

['.ipynb_checkpoints',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'movies-ERD.png',
 'movies.mwb.bak',
 'movies.sql',
 'title-akas-us-only.csv',
 'title.basics.tsv.gz',
 'title.ratings.tsv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json']

In [30]:
def get_movie_with_rating(movie_id):
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries
    movie_info = movie.info()
    releases = movie.releases()
    
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
            movie_info['certification'] = c['certification']
    return movie_info


def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [32]:
YEAR = 2000
errors = []

In [33]:
# Define the JSON file to store results for the year
JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'


# Check if the JSON file exists
file_exists = os.path.isfile(JSON_FILE)

# If it does not exist: create it
if file_exists == False:
    print(f"Creating {JSON_FILE} for API results for year={YEAR}.")
    
    # save an empty dict with just "imdb_id" to the new json file.
    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)

# If it exists, print a message
else:
    print(f'The file {JSON_FILE} already exists.')

The file Data/tmdb_api_results_2000.json already exists.

In [34]:
# Filtering for movies from selected startYear
df = basics.loc[ basics['startYear']==YEAR].copy()
# saving movie ids to list
movie_ids = df['tconst']
movie_ids.head()

110468    tt0113026
110531    tt0113092
113276    tt0115937
113715    tt0116391
113941    tt0116628
Name: tconst, dtype: object

In [35]:
# Load existing data from json into a dataframe called "previous_df"
previous_df = pd.read_json(JSON_FILE)
previous_df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,None,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.50,22.0,
2,tt0113092,0.0,None,None,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.45,10.0,
3,tt0116391,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,,Gang,0.0,4.00,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,None,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.10,2373.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,tt7029820,0.0,None,None,7000.0,[],,604889.0,en,Scream For Christmas,...,0.0,80.0,[],Released,,Scream For Christmas,0.0,0.00,0.0,
1254,tt7197642,0.0,None,None,0.0,"[{'id': 35, 'name': 'Comedy'}]",,872676.0,en,"Goodbye, Merry-Go-Round",...,0.0,90.0,[],Released,,"Goodbye, Merry-Go-Round",0.0,0.00,0.0,
1255,tt7631344,0.0,None,None,0.0,"[{'id': 27, 'name': 'Horror'}]",,108864.0,en,Urban Evil: Trilogy of Fear,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Urban Evil: Trilogy of Fear,0.0,4.00,1.0,
1256,tt7631368,0.0,/sF0gUHE0YzZNXYugTB2LFxJIppf.jpg,None,10000000.0,"[{'id': 27, 'name': 'Horror'}]",,97186.0,en,"I, Vampire",...,0.0,85.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,"I, Vampire",0.0,6.40,4.0,NR
1257,tt7802790,0.0,/etxml2M8GQzb31jcH0cdA489WCX.jpg,None,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",,610992.0,fa,مومیایی ۳,...,0.0,98.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,,The Mummy 3,0.0,7.00,1.0,NaN

In [36]:
# filter out any ids that are already in the JSON_FILE
movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

In [ ]:
# Loop through movie_ids_to_get with a tqdm progress bar
for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}"):

    # Attempt to retrieve then data for the movie id
    try:
        temp = get_movie_with_rating(movie_id)  #This uses your pre-ma    de function
        # Append/extend results to existing file using a pre-made function
        write_json(temp,JSON_FILE)
        # Short 20 ms sleep to prevent overwhelming server
        time.sleep(0.02)

    # If it fails,  make a dict with just the id and None for certification.
    except Exception as e:
        errors.append([movie_id, e])

In [ ]:
print(f"- Total errors: {len(errors)}")

In [ ]:
# Save the final results to a csv.gz file
final_year_df = pd.read_json(JSON_FILE)

csv_fname = f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz"
final_year_df.to_csv(csv_fname, compression="gzip", index=False)

In [37]:
import glob
# Use glob to get all filepaths that match the pattern (*=wildcard)
tmdb_files = sorted(glob.glob("Data/final_tmdb_data*.csv.gz"))
tmdb_files

['Data\\final_tmdb_data_2000.csv.gz',
 'Data\\final_tmdb_data_2001.csv.gz',
 'Data\\final_tmdb_data_2002.csv.gz']

# Concat all csv

In [38]:
import pandas as pd

In [39]:
# Use read_csv in a list comprehension and combine with concat to load all files
df = pd.concat([pd.read_csv(f) for f in tmdb_files] )
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.50,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.45,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.00,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.10,2373.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1290,tt6449044,0.0,/a9pkw8stijESGx1flSGPqcXLkHu.jpg,"{'id': 957260, 'name': 'The Conman Collection'...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,314105.0,cn,賭俠2002,...,0.0,97.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,The Conman 2002,0.0,4.30,3.0,NaN
1291,tt6694126,0.0,/sXjVpTZyDvwzPVZve3AmyCUBeHk.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,819174.0,fa,عروس خوش‌قدم,...,0.0,101.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,The Lucky Bride,0.0,8.00,1.0,NaN
1292,tt8302928,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,866533.0,el,Movie Toons: Treasure Island,...,0.0,0.0,[],Released,NaN,Movie Toons: Treasure Island,0.0,0.00,0.0,NaN
1293,tt8474326,0.0,NaN,NaN,0.0,[],NaN,292027.0,en,Skin Eating Jungle Vampires,...,0.0,0.0,[],Released,NaN,Skin Eating Jungle Vampires,0.0,0.00,0.0,NaN
1294,tt8825252,0.0,NaN,NaN,0.0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,989195.0,en,Circle of Fire: The Dark Lord Kylnor,...,0.0,45.0,[],Released,NaN,Circle of Fire: The Dark Lord Kylnor,0.0,0.00,0.0,NaN

In [40]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

C:\Users\User\AppData\Local\Temp\ipykernel_10108\1433791732.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  basics['genres_split'] = basics['genres'].str.split(',')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
10016149,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [41]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [42]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [43]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

          tconst genres_split
34802  tt0035423       Comedy
34802  tt0035423      Fantasy
34802  tt0035423      Romance
61114  tt0062336        Drama
67666  tt0069049        Drama

In [44]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [45]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [46]:
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                             'Genre_ID':genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [47]:
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_movies
0           genres
1        imbd_data
2          ratings
3     title_basics
4     title_genres
5        tmdb_data

In [48]:
tmdb = df

In [49]:
tmdb = tmdb.drop(columns=['adult', 'backdrop_path', 'belongs_to_collection', 'genres', 'homepage', 'id', 'original_language', 'original_title',
                          'overview', 'popularity', 'poster_path', 'production_companies','production_countries', 'release_date','runtime',
                          'spoken_languages', 'status', 'tagline', 'title', 'video','vote_average', 'vote_count'])

In [50]:
tmdb.head()

     imdb_id      budget     revenue certification
0          0         NaN         NaN           NaN
1  tt0113026  10000000.0         0.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694    150000.0  14204632.0            PG

In [51]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
cert_len = df['certification'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "imdb_id": CHAR(key_len+1), 
    "budget": FLOAT(),
    "revenue": FLOAT(),
    'certification':CHAR(key_len+1)}

In [52]:
tmdb.to_sql('tmdb_data',conn, dtype=df_schema, if_exists='replace',index=False)

3913

In [53]:
q = """SELECT * FROM tmdb_data
LIMIT 5;"""
pd.read_sql(q, conn)

     imdb_id      budget     revenue certification
0          0         NaN         NaN          None
1  tt0113026  10000000.0         0.0          None
2  tt0113092         0.0         0.0          None
3  tt0116391         0.0         0.0          None
4  tt0118694    150000.0  14204600.0            PG

In [54]:
q = '''DESCRIBE tmdb_data;'''
describe = pd.read_sql(q, conn)
describe

           Field      Type Null Key Default Extra
0        imdb_id  char(11)  YES        None
1         budget     float  YES        None
2        revenue     float  YES        None
3  certification  char(11)  YES        None

In [ ]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

## I'm not sure why I couldnt alter the able through the notebook so I just altered the table through MySql Workbench