In [1]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True)

In [2]:
# Confirm folder was created and files added successfully
os.listdir("Data/")

['.ipynb_checkpoints',
 'Movies-ERD.png',
 'movies.mwb',
 'movies.mwb.bak',
 'movies.sql',
 'title-akas-us-only.csv',
 'title.basics.tsv.gz',
 'title.ratings.tsv.gz']

In [3]:
import pandas as pd

In [4]:
akas = pd.read_csv('Data/title-akas-us-only.csv', low_memory=False)

In [5]:
basics = pd.read_csv('Data/title.basics.tsv.gz', sep='\t', low_memory=False)

In [6]:
ratings = pd.read_csv('Data/title.ratings.tsv.gz', sep='\t', low_memory=False)

In [7]:
# Filter the basics table down to only include the US by using the filter akas dataframe
filter_us_titles = basics['tconst'].isin(akas['titleId'])
basics = basics[filter_us_titles]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10016872,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,\N,58,Family
10016901,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,\N,\N,Drama
10016939,tt9916702,short,Loving London: The Playground,Loving London: The Playground,0,\N,\N,\N,"Drama,Short"
10016962,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short
10016966,tt9916764,short,38,38,0,2018,\N,\N,Short

In [8]:
import numpy as np

In [9]:
basics = basics.replace({'\\N':np.nan})

In [10]:
basics = basics.dropna(subset=['runtimeMinutes','genres'])

In [11]:
basics = basics[basics['titleType']=='movie']

In [12]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
...,...,...,...,...,...,...,...,...,...
10016366,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019,NaN,70,Documentary
10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
10016777,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [13]:
basics['startYear']=basics['startYear'].astype(float)

In [14]:
startYearType = basics['startYear'].dtype
startYearType

dtype('float64')

In [15]:
basics = basics[(basics['startYear']>=2000)&(basics['startYear']<=2022)]

In [16]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
10016366,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019.0,NaN,70,Documentary
10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [17]:
filter_documentaries = basics['genres'].str.contains('Documentary')

In [18]:
# Exclude movies in the documentary category.
basics= basics[~filter_documentaries]

In [19]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86979 entries, 34802 to 10016777
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86979 non-null  object
 3   originalTitle   86979 non-null  object
 4   isAdult         86979 non-null  object
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86979 non-null  object
 8   genres          86979 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.6+ MB

In [20]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [21]:
ratings = ratings.replace({'\\N':np.nan})

In [22]:
ratings_filtered = ratings[ratings['tconst'].isin(basics['tconst'])]

In [23]:
ratings = ratings_filtered
ratings

            tconst  averageRating  numVotes
17961    tt0035423            6.4     87153
40764    tt0062336            6.4       175
46645    tt0069049            6.7      7754
63640    tt0088751            5.2       336
69953    tt0096056            5.6       846
...            ...            ...       ...
1331411  tt9914942            6.6       178
1331437  tt9915872            6.4         9
1331450  tt9916170            7.0         7
1331451  tt9916190            3.7       243
1331462  tt9916362            6.4      5422

[71900 rows x 3 columns]

![png](Data/Movies-ERD.png)

In [24]:
from sqlalchemy.engine import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
import pandas as pd

In [25]:
username = "root"
password = "root"
# password = quote_plus("Myp@ssword!") # Use the quote function if you have special chars in password
db_name = "movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [26]:
# Import packages

import os, time, json
import tmdbsimple as tmdb 
import pandas as pd
from tqdm.notebook import tqdm_notebook
# Create the folder for saving files (if it doesn't exist)
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'Movies-ERD.png',
 'movies.mwb',
 'movies.mwb.bak',
 'movies.sql',
 'title-akas-us-only.csv',
 'title.basics.tsv.gz',
 'title.ratings.tsv.gz']

In [48]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2023.5.7)

In [27]:
import json
with open('/Users/User/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['client-id', 'api-key'])

In [41]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [49]:
def get_movie_with_rating(movie_id):
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries
    movie_info = movie.info()
    releases = movie.releases()
    
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
            movie_info['certification'] = c['certification']
    return movie_info


def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

NameError: name 'movie_info' is not defined